body {
    background-color: beige;
}

li {
    color: #5C4033	;
    background-color: #C4A484;
    font-size: 20px;
}

.corner {
    position: fixed;
    bottom: 10px;
    right: 10px;  
    background-color: #C4A484;
    padding: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}
