body {
    background-color: rgb(188, 130, 63);
    color: rgb(255, 255, 255);
}

.border {
    border-radius: 15px;
}

p {
    background-color: rgb(111, 67, 0);
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.size {
    height: 300px;
    width: 300px ;
}

button {
    background-color: rgb(192, 192, 192);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    background-color: rgb(168, 131, 76);
    margin-left: auto;
    margin-right: auto;
    display: block;
}